<p>curriculos works!</p>
<section class="curriculos">

  <!-- propertydo data binding *ngFor -->
  <div *ngFor="let curriculo of curriculos">

    <div class="card">
      <img src="assets\img\curriculos\{{curriculo.foto}}" alt="...">

      <div class="card-body">
        <h5>Código da curriculo {{curriculo.id}}</h5>
        <h5>Curriculo: {{curriculo.nome}}</h5>

        <p>Descrição: {{curriculo.descricao}}</p>

        <p>Salário: {{curriculo.salario}}</p>
      </div>

    </div>

  </div>

</section>

<div class="rodape"></div>
