body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background-color: ivory;
}

h1 {
    text-align: center;
}

section {
    background-color: cornflowerblue;
    padding: 15px;
    margin: 25px 0;
    border-radius: 13px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

button {
    background-color: rgb(47, 155, 47);
    color: rgb(255, 246, 232);
    border: none;
    padding: 8px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 7px;
}

button:houver {
    background-color: forestgreen;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: rgba(206, 206, 255, 0.582);
    padding: 5px;
    margin: 5px 0;
    border-radius: 3px;
}

input {
    padding: 7px;
    margin: 6px 0;
    border-radius: 6px;
    border: solid 1px #999999;
}

select {
    padding: 7px;
    margin: 6px 0;
    border-radius: 6px;
    border: solid 1px #999999;
}